@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");
body {
    margin: 0;
    padding: 0;
    font-family: "Raleway", serif !important;
  }
  
 html{

 --image-gradient: linear-gradient(
    to bottom left,
    rgba(209, 209, 209, 0.678),
    rgba(207, 234, 34, 0.863)
  );
 }
 .pvicon{
    max-width: 35px;
    max-height: 35px;
 }   
.vamsi{
   font-family: Barlow;
  font-size: 1.1em;
 }

  .nav-item{
    font-size: 1em;
    padding: 1px;
    margin-left: 5px;
  }
  .home-section{
    margin: 0;
    padding: 0;
  }
     .home-content {
    padding: 1rem 0 2rem !important;
    color: black;
    text-align: left;
}
.home-header{
      padding: 6rem 0 2rem !important;

  }

  .heading {
    font-size: 2.4em !important;
    padding-left: 50px !important;
    font-family:Barlow;
  }
  
  .heading-name {
    font-size: 2.5em !important;
    font-family:Barlow;
    padding-left: 50px !important;
  }
  .typing{
    font-family:Barlow;
    font-size: 2.5em !important;
  }


.social-icons {
  display: inline-block !important;
  padding-right: 15px;
  padding-left: 15px;
}
.footer {
    background-color: rgb(10, 4, 22);
    bottom: 0 !important;
    padding-top: 10px !important;
    padding-bottom: 8px !important ;
  }
  .footer-copywright {
    text-align: center !important;
  }
  
  .footer-body {
    z-index: 1;
    text-align: center !important;
  }
  
  @media (max-width: 767px) {
    .footer-copywright {
      text-align: center !important;
    }
  
    .footer-body {
      text-align: center !important;
    }
  }
  
  .footer h3 {
    font-size: 1em;
    color: white !important;
    margin-top: 0.5em !important;
    margin-bottom: 0.5em !important;
  }
  .footer-icons {
    margin-top: 0.5em !important;
    margin-bottom: 0.5em !important;
    padding: 0 !important;
  }
  
  .blockquote-footer {
    color: #54c7e1 !important;
  }
  .profile-pic{
   max-height: 475px;
    /* border-radius: 50%; */
    padding: 1em;
    /* margin-top: 3em; */
  }
  .about-main{
    margin: 10px;

  }
  .project-table{
    margin: auto;
    width: 80%;
  }.contact-form{
    margin-left: 30%;
    /* padding-left: 30%; */
    width: 50%;
  }
  .about-table{
    width: 50%;
  }